@model HarvestHub.ViewModels.CreatePatrimonioViewModel

@{
	ViewData["Title"] = "Create";
}
<h3>Cadastre um novo patrimônio</h3>

<form asp-action="Create" method="post">
</form>
<form asp-action="Create" method="post">
	<div class="form-group">
		<label asp-for="Nome">Nome</label>
		<input asp-for="Nome" class="form-control"/>
		<span asp-validation-for="Nome" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Categoria">Categoria</label>
		<input asp-for="Categoria" class="form-control"/>
		<span asp-validation-for="Categoria" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Valor">Valor</label>
		<input asp-for="Valor" class="form-control"/>
		<span asp-validation-for="Valor" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="DataAquisicao">Data de Aquisição</label>
		<input asp-for="DataAquisicao" class="form-control"/>
		<span asp-validation-for="DataAquisicao" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="CREA">CREA</label>
		<input asp-for="CREA" class="form-control"/>
		<span asp-validation-for="CREA" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>