@model HarvestHub.Models.Patrimonio
@{
	ViewData["Title"] = "Create";
}
<h3>Cadastre um novo patrimônio</h3>

<form asp-action="Create" method="post">
</form>
<form asp-action="Create" method="post">
	<div class="form-group">
		<label for="Nome">Nome</label>
		<input type="text" class="form-control" asp-for="Nome" />
	</div>
	<div class="form-group">
	<label for="Categoria">Categoria</label>
	<input type="text" class="form-control" asp-for="Categoria" />
	</div>
	<div class="form-group">
		<label for="Valor">Valor</label>
		<input type="number" class="form-control" asp-for="Valor" />
	</div>
	<div class="form-group">
		<label for="DataAquisicao">Data de Aquisição</label>
		<input type="text" class="form-control" asp-for="DataAquisicao" />
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>