# Ignorar arquivos binários e diretórios de build
bin/
obj/

# Ignorar arquivos de configuração específicos de ambiente
.vs/
.vscode/

# Ignorar arquivos temporários do sistema
*.user
*.suo
*.userosscache
*.sln.docstates