@model List<HarvestHub.Models.Contrato>
@{
	ViewData["Title"] = "Contrato";
}
<h3>Contratos</h3>
<table class="table">
	<thead>
		<tr>
			<th>Número do Contrato</th>
			<th>Data Início</th>
			<th>Data Fim</th>
			<th>Valor Total</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>